.custom-navbar {
  width: 100vw;
  min-height: 5vw;
  border-bottom: 1px solid black;
}

.custom-navbar-item {
  padding-top: 1%;
  margin-left: 2%;
  min-width: 70px;
}

.custom-text {
  color: black;
}

.underline {
  text-decoration: underline;
}

.flex-basis {
  flex-basis: 60%;
}

.branch-container {
  flex-grow: 1;
  width: 100%;
}

.branch {
  flex-basis: 33%;
  height: 90%;
}

.font-s-p {
  font-size: 12px;
}
